body {
    font-family: Arial, sans-serif;
    background-color: rgba(243, 203, 154, 0.9);
    background-image:url("/static/images/mw_background.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #212529;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.body-image{
    background-image:url("images/mw_background.jpg");
}


/* === Footer === */
.footer {
    background-color: #9c8571;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
    margin-top: 2rem;
}


.jumbotron {
    width: 75%;
    float: right;
    order: 2;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 2rem;
}

.jumbotron h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #343a40;
}

.jumbotron p {
    margin-bottom: 1.5rem;
    color: #6c757d;
}

.page-main {
    box-sizing: border-box;
    margin: auto;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    position: relative;
    display: block;

}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
}

/* styles menu css */





.menu {

}

.menu > li {

}

.menu > li > a {

}
.menu > li > a:hover {

}

.submenu {

}
.submenu > li > a {
}

.submenu > li > a:hover {

}

.menu > li:hover .submenu {

}
