<nav class="jumbotron sidebar-navigation" data-actions="navigation">

           <ul>
            <li >
                <a href="/" class="nav-link" ><span>Domů</span>
                </a>
            </li>
            <li class="level0 nav-1 category-item first level-top parent">
                <a href="/products/" class="nav-link" ><span>Produkty</span>
                </a>
            </li>
            <li><button class="nav-link" href="/services/">Služby</button></li>
            <li><button class="nav-link" href="/trainers/">Trenéři</button></li>
</nav>