<a class="navbar-brand" href="/"><img src="/static/images/PerfectBody_logo_b.png" alt="PerfectBody"></a>
<nav class="navbar">
<!--
    <div class="navbar-container">-->

<div class="navbar-links">
    <ul class="menu"> {% for category in categories %} <li>
        <a href="#">{{ category.name }}</a>
        <ul class="submenu"> {% for subcategory in category.subcategories.all %}
            <li><a href="#">{{ subcategory.name }}</a></li>
        {% endfor %}
        </ul>
    </li> {% endfor %}
    </ul>
</div>
</nav>


        <ul>
            <li >
                <a href="/" class="nav-link" ><span>Domů</span>
                </a>
            </li>
            <li class="level0 nav-1 category-item first level-top parent">
                <a href="/products/" class="nav-link" ><span>Produkty</span>
                </a>
                <em>jkgkjgk</em>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li><button class="nav-link" href="/services/">Služby</button></li>
            <li><button class="nav-link" href="/trainers/">Trenéři</button></li>
            {% if user.is_authenticated %}
                <span class="nav-link">{{ user.username }}</span>
                <li><button class="nav-link" href="{% url 'logout' %}">Odhlásit se</button></li>
            {% else %}
                <li><button class="nav-link" href="/login/">Přihlásit se</button></li>
                <li><button class="nav-link" href="/register/">Registrovat</button></li>
            {% endif %}
            </ul>

 <!--</div> -->





